*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background-color: #35363a;
    position: relative;
}
.header{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    margin-left: 184vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar a{
    text-decoration: none;
    font-size: 2.2vh;
    font-family: sans-serif;
    color: whitesmoke;
    padding: 10px 10px;
}
.navbar a:hover{
    text-decoration: underline;
}
.navbar img{
    cursor: pointer;
}



.container{
    height: 27.5rem;
    width: 23.4%;
    background-color: #FFF;
    position: absolute;
    left: 76%;
    border-radius: .5rem;
    opacity: 0;
    visibility: hidden;
}
.container.active{
    opacity: 1;
    visibility: visible;
}
.submenu ul{
    position: static;
    padding: 1.5rem;
    /* display: flex; */
    grid-template-columns: 6rem 6rem 10rem;
    display: grid;
    grid-template-rows: 6rem 6rem 6rem 6rem 6rem 6rem 6rem 6rem 6rem 6rem ;
    overflow-y: auto;
    overflow-x: hidden;
    /* image-rendering:crisp-edges; */
    /* visibility: hidden; */
    height: 100%;
}

.submenu img{
    position: static;
    border-radius: .4rem;
    list-style-type: none;
    vertical-align: top;
    display: inline-block;
    height: 74px;
    width: 74px;
    -webkit-font-smoothing: antialiased;
    /* overflow :hidden; */
    cursor: pointer;
}

.more a{
    background-color: #fff;
    border: 1px solid rgb(218,220,224);
    border-radius: 4px;
    box-sizing: border-box;
    color: rgb(26,115,232);
    display: inline-flex;
    font: 500 14px/16px "Google Sans",Roboto,Helvetica,Arial,sans-serif;
    margin: 16px 0 20px 50px;
    outline: 0;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    white-space: normal;
    width: 10.5rem;
    cursor: pointer;
}


.search_item{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search{
    position: relative;
}
.search img{
    position: absolute;
    padding: 10px 10px;
}
.search input{
    width: 90vh;
    padding: 2.5vh 10%;
    border-radius: 50px;
    outline: none;
    border: none;
    font-size: 1.1vw;
}
.s_icon img{
    position: absolute;
    top: 0;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    padding: 13px 25px;
    right: 0;

}
.google_content button{
    padding: 9px 13px;
    cursor: pointer;
    transition: transform(0.5);
}
.b_content{
    margin-top: 5vh;
    transition: 0.5s;
}
.b_content button:hover{
    /* box-shadow: #7f8188; */
}
.p_content p{
    margin-top: 5vh;
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 2.5vh;
}
.p_content span a{
    cursor: pointer;
    text-decoration: none;
    color: whitesmoke;
}
.footer{
    margin-top: 10vh;
    font-family: sans-serif;
}
.footer a{
    color: whitesmoke;
    text-decoration: none;
}
.footer .f_1{
    padding: 2vh 3vh;
}
hr{
    margin-bottom: 20px;
}
.f_content a{
    padding: 2vh 3vh;
}
.last a{
    padding: 0 3vh;
    float: right;
}